.contact {
  .info {
    width: 100%;
    background: #fff;

    i {
      font-size: 20px;
      color: #3f43fd;
      float: left;
      width: 44px;
      height: 44px;
      background: #f0f0ff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #010483;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: #0205a1;
    }

    .email,
    .phone {
      margin-top: 40px;
    }

    .email:hover i,
    .address:hover i,
    .phone:hover i {
      background: #004aad;
      color: #fff;
    }
  }

  .form {
    width: 100%;
    background: #fff;

    .form-group {
      padding-bottom: 8px;
    }

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;

      br+br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
    }

    .loading:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite;
    }

    input,
    textarea,
    select {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    input,
    select {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type=submit] {
      background: transparent;
      color: #004aad;
      border: 0;
      border-bottom: 3px solid #004aad;
      padding: 10px 30px;
      transition: 0.4s;
    }

    button[type=submit]:hover,
    .sending {
      background: #004aad !important;
      color: #f0f0f0 !important;
      border-bottom: 3px solid #F5F5F5 !important;
    }

    .sending {
      cursor: wait;
    }

    span {
      color: #ed3c0d;
      font-size: 0.7rem;
    }
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 460px) {
  .contact {
    button[type=submit] {
      background: rgba(0, 75, 173, 0.05) !important;
      padding: 8px 30px !important;
      margin-top: 10px;
    }
  }
}