#hero {
  width: 100%;
  /*background: url("../img/hero-bg.jpg");*/
  /*background: url("../content/Dots.svg");*/
  background-size: 170%;
  background-position-y: 20%;
  background-position-x: -145%;
  position: relative;
  padding: 40px 0 0 0;
  .container {
    content-visibility: auto;
  }
  .particlesWrapper {
    position: absolute;
    width: 100vw !important;
    height: 600px !important;
    z-index: -1 !important;
    .particlesCanvas {
      height: 600px !important;
      background-color: transparent !important;
      z-index: -1;
      position: absolute !important;
    }
  }
}
#hero:before {
  content: "";
  background: #0205a1b3;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: invert(1);
}
#hero h1 {
  margin: 0 0 20px 0;
  font-size: 5em;
  font-weight: 700;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
#hero h1 span {
  color: #fff;
  /*border-bottom: 4px solid #004aad;*/
}
#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 0px;
  transition: 0.5s;
  color: #fff;
  border-bottom: 1px solid transparent;
  /*background: #004aad;*/
}
#hero .btn-get-started:hover {
  border-bottom: 1px solid white;
  padding-right: 70px;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    max-width: 50%;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  .hero-waves {
    height: 27px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@media (max-width: 991px) {
  #hero {
    .container {
      padding-bottom: 2rem !important;
      h1 {
        font-size: 48px;
      }
    }
    .content {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575px) {
  .hero-waves {
    height: 27px !important;
  }
}